/* BORDER CONTROL */
.borderBottomRight {
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.borderBottom {
  border: none;
  border-bottom: 1px solid black;
}

/* TextareaAutoSize  */
.onfucus:focus {
  min-height: 130px;
  resize: vertical;
  overflow-y: scroll;
}
.unfucused {
  max-height: 32px;
  min-height: 32px;
  border: none;
  resize: none;
  overflow: hidden;
}

/* global essentials */
ul {
  list-style: none;
}
